{{!-- THIS IS WHEN YOU SEARCH FOR OTHER USERS --}}

<div class="row">
  
  <div class="col-3">
    <div class="flex-center  scroll">

      <h1>{{user.username}}'s HotSpots</h1>

      <div class="scroll">
        {{#each hotspots}}
          <div class="card flex-center">
            <div class="card-body">
              <h4>NAME: {{this.name}}</h4><br>
              LOCATION: {{this.location}}<br>
              TYPE: {{this.kind}}<br>
              GENRE: {{this.genre}}<br>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

{{!-- MAP --}}

<div class="col-9">
  <div class="center">
    <h4>{{user.username}}'s Profile Page</h4>
  </div>

  <div id="map"></div>
  {{data}}
  <script>
  let pin = "http://maps.google.com/mapfiles/ms/micons/red-dot.png";
    function initMap(){
      // Map Options
      var options = {
        zoom:16,
        center: {lat:25.7661932, lng: -80.19618059999999}
      }
      // New Map
      var map = new 
      google.maps.Map(document.getElementById('map'), options);

      //listen for click on map
      google.maps.event.addListener(map, 'click',
      function(event){
        addMarker({coords:event.latLng});
      })

      //var currentUser = JSON.parse('{{{json user}}}');
      let markers = JSON.parse('{{{json hotspots}}}')
      console.log(markers)

      for(var i=0; i<markers.length; i++){
        addMarker(markers[i]);
      }

      //Add Marker function
        function addMarker(props){
          console.log(props)
           if(props.coolspot == true){
            pin = "http://maps.google.com/mapfiles/ms/micons/blue-dot.png"
          }
          var marker = new google.maps.Marker({
          icon: pin,
          position: {lat:Number(props.lat), lng:Number(props.lon)},//props.coords,
          map:map,
        });
        //check content
        if(props.name){
          var infoWindow = new google.maps.InfoWindow({
        content: props.name
      });
      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });
        }
      }
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDHQg3R9w2fSbdKrYv1vrKAE5sdOJ2uLU&callback=initMap">
  </script>

  <a href="/profile">Back to your Profile</a>

  </div>
</div>  