Dashboard
{{!-- <h1>
  <div style="position: absolute; top: 10px;">
    <canvas id="forexChart" width="1000px" height="800px"></canvas>
  </div>

</h1> --}}

<h1> {{title}} 
    <h2 class="">Currency Pair</h2>
      <label for="currencyPair">
      <input type="date" id="startDate" value="2019-01-01">
      </label>

      <label for="start">To:
      <input type="date" id="endDate" value="2019-02-18">
      </label>
      <select>
        <option class="USD" type="USD">USD</option>
        <option class="EUR" type="EUR">EUR</option>
      </select>
    <canvas id="myChart" width="300" height="150"></canvas>
    <a href="/private-page">Profile</a>
  </h1>

  <div>
    <p>Post an Idea!</p>
    <form action="/tradeIdea/add" method="post">
      <input type="text" name="comment"></input>
      <button type="submit">ADD</button>
    </form>
  </div>

  <h2>Ideas!</h2>
    {{#each commentstoHBS}}
    <div class="tradeIdea-item-delete">
      <p>{{comment}}</p>
      <p><b>posted by:</b><i>{{userId.username}}</i></p>
      {{#if yours}}
      <a href="/edit/{{_id}}">
        <button>Edit</button>
      </a>
      {{/if}}
      
      {{#if yours}}
      <form action="delete/{{_id}}" method="post">
        <button>Delete</button>
      </form>
      {{/if}}
    </div>
    {{/each}}

  <script src="/javascripts/financial-chart.js"></script>
