<h1>{{user}}'s' HOTSPOTS</h1>

{{#each hotspotsToHBS}}
  {{!-- {{#if this.first}} --}}

      <div>
        <h3>NAME: {{this.name}}</h3> <br>
        <h4>Location: {{this.location}}</h4> <br>
        <h4>Type: {{this.kind}}</h4> <br>
        <h4>Genre: {{this.genre}}</h4> <br>
        <h2># OF VISITS: {{this.visits}}</h2> <br>
      </div>

  {{!-- {{/if}} --}}
{{/each}}


<a href="/profile">Go Back</a>


